*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;

}
#backgroundd
{
  background-color: black;
  color: black;
  position: relative;
  z-index: -10;
}
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-item
{
  border-radius: 4px;
  height: inherit;
  width: inherit;
}

.nav-item:hover
{
  background-color: #D5D5D5;
}

.text a{
  width: 50vh;
}

.text a:hover{

}
#texte1{
  color: white;
}
